@{
    ViewBag.Title = "Home Page";
}

<div ng-app="app"
     ng-controller="CondoController as vm">
    <form name="myForm" class="form-horizontal" novalidate>

       
        @*Main*@
        <div ng-show="vm.uiState.isMainAreaVisible" class="panel panel-primary content-area sample-show-hide">
            <p>Some info here</p>
            <br/>
            <hr/>

            <p>More info here</p>
            <br/>
            <hr/>
            <button class="btn btn-sm btn-primary"
                    type="button"
                    ng-click="vm.addGeneralCharge(vm.condoId)">
                <i class="glyphicon glyphicon-remove-circle"></i>
                &nbsp;Add Payment
            </button>

        </div>

        @*View Transactions*@
        <div ng-show="vm.uiState.isViewTransactionsVisible" class="panel panel-primary content-area sample-show-hide">
            <div class="panel-heading">
                <h1 class="panel-title">
                    View Transactions for id: {{vm.testId}}
                </h1>
            </div>
            <div class="panel-body">
                <table id="transactionsTable"
                       class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>

                        <th>Description</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="tran in vm.transactions ">

                        <td>{{tran.Description}}</td>
                        <td>{{tran.Type}}</td>
                        <td>{{tran.Amount}}</td>
                        <td>{{tran.Date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">


                    </div>
                </div>
            </div>
        </div>

        @*Add Payment *@
        <div ng-show="vm.uiState.isAddPaymentVisible" class="panel panel-primary content-area sample-show-hide">
            <div class="panel-heading">
                <h1 class="panel-title">
                    Add payment for condo id: {{vm.condoId}}
                </h1>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Transaction Type</label>
                        <div class="col-md-4">
                            <select ng-model="vm.selectedTrasnactionType" ng-options="x.Id as x.Name for x in vm.transactionTypes">
                                <option style="display: none" value="">select a transaction Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="generalChargeAmount">Amount:</label>

                        <div class="col-md-4">
                            <input type="number" class="form-control input-md"
                                   id="generalChargeAmount"
                                   name="generalChargeAmount"
                                   required
                                   @*ng-minlength="4"
                           ng-maxlength="150"*@
                                   ng-model="vm.generalCharge.amount"/>
                            <span class="help-block">Enter the amount of the general charge</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Description:</label>
                        <div class="col-md-4">
                            <input id="generalChargeDescription" name="generalChargeDescription" type="text" placeholder="Description" class="form-control input-md" required="" ng-model="vm.generalCharge.description">
                            <span class="help-block">Enter the description of the general charge</span>
                        </div>
                    </div>
                </fieldset>


                <!-- ** END INPUT AREA -->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-sm btn-primary"
                                type="button"
                                ng-click="vm.processGeneralCharge(myForm)">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            &nbsp;Process Charge
                        </button>
                        <button class="btn btn-sm btn-primary"
                                type="button"
                                ng-click="vm.cancelClick()">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                            &nbsp;Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section scripts {
    <script src="~/JS/app.js"></script>
    <script src="~/JS/CondoController.js"></script>
}